<!-- Add property -->
<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="form-group">
                <label>Description</label>
                <input type="" class="form-control" ng-model="vm.description" placeholder="Optional">
                <label>Street</label>
                <input type="" class="form-control" ng-model="vm.street" placeholder="Optional">
                <label>City</label>
                <input type="" class="form-control" ng-model="vm.city" placeholder="Optional">
                <label>Zip Code</label>
                <input type="" class="form-control" ng-model="vm.zip" placeholder="Optional">
                <label>Rent</label>
                <input type="" class="form-control" ng-model="vm.rent" placeholder="Required">
                <label>Square Feet</label>
                <input type="" class="form-control" ng-model="vm.squareft" placeholder="Required">
                <label>Bedrooms</label>
                <input type="" class="form-control" ng-model="vm.bedrooms" placeholder="Required">
                <label>Bathrooms</label>
                <input type="" class="form-control" ng-model="vm.bathrooms" placeholder="Required">
                <br>
                <input type="file" name="Image" accept="Image/*" ng-model="image" >
                <br>
                <button class="btn btn-primary" ng-click="vm.addProperty(vm.city,vm.zip,vm.street,vm.squareft,vm.bedrooms,vm.bathrooms,vm.rent,vm.description)">Add Property</button>
            </div>
        </div>
        <div class="col-sm-10 text-left" >
            <div class="container-fluid col-sm-4" ng-repeat="data in vm.properties">
                
                <div class="row">
                    <div class="panel panel-default NewPanel searchResult">
                        <div class="panel-body propertyDisplay" >
                            <img ng-src="../img/{{data.PropertyId}}.jpg" class="propertyPic">
                            <br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">Description: {{data.Description}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.Description" class="editing-label" type="text" /></br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">Street: {{data.Street}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.Street" class="editing-label" type="text" /></br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">City: {{data.City}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.City" class="editing-label" type="text" /></br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">Zip: {{data.Zip}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.Zip" class="editing-label" type="text" /></br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">Rent: ${{data.Rent}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.Rent" class="editing-label" type="text" /></br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">Square Feet: {{data.Squareft}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.Squareft" class="editing-label" type="text" /></br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">Bedrooms: {{data.Bedrooms}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.Bedrooms" class="editing-label" type="text" /></br>

                            <label ng-hide="editing" ng-show="propertyName === 'name'" ng-click="editing = !editing">Bathrooms: {{data.Bathrooms}}</label>
                            <input ng-blur="editing = false;" ng-show="editing" ng-model="data.Bathrooms" class="editing-label" type="text" /></br>

                            <button class="btn btn-primary" ng-click="vm.editProperty(data); editing = false">Save Changes</button>
                            <button class="btn btn-danger" ng-click="vm.deleteProperty(data)">delete property</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
